
<html>
<head>
  <title>Placement & Training </title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<header>
  <div class="site-title">
    <h1>Placement & Training <small></small>Management</h1>
  </div>

  <nav class="menu site-menu">
        <ul>
           <li><a href="/home">Home</a></li>
           <li> <a href="/login">Login</a></li> 
           <li><a href="#">Register</a>

                <ul>
                    <li><a href="/studentregistration">Student</a></li>
                    <li><a href="/teacherregistration">Teacher</a></li>
                    <li><a href="/companyregistration">Company</a></li>
                </ul>

           </li>
        </ul>
    </nav>
</header>