<html>
<head>
  <title>Placement & Training </title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<header>
  <div class="site-title">
    <h1>Placement & Training <small></small>Management</h1>
  </div>

  <nav class="menu site-menu">
        <ul>
           <li><a href="/home">logout</a></li>
          
           <li><a href="/student">add student</a>
           </li>
           <li><a href="/teacher">add teacher</a></li>
           <li><a href="/company">add company</a></li>


           </li>
        </ul>
    </nav>
</header>

<div class="content">
	<form method="post" action="/company">
		<div class="companydetails">
		<h1>company details</h1>
		<tr>
		<td>COMPANY NAME:</td>
		<td><input type="text" name="name" placeholder="company name">
	</div></td>
	<td>REGISTRATION NUMBER:</td>
	<input type="text" name="registration" placeholder="number">
	<td>PASSWORD:</td>
	<input type="password" name="password" placeholder="password">

	<td>YEAR:</td>
	<input type="text" name="year" placeholder="year">

	<h2>company crietria</h2>

<td>CGPA:</td>
<input type="number" name="cgpa"></br>

<td>10th PERCENTAGE:</td>
<input type="number" name="percentage"></br>

<td>12th PERCENTAGE</td>
<input type="number" name="mark"></br>

<button>save</button>





	</tr>
	</form>
</div>
{{>footer}}
