{{>header}}
      <div class="content">
        <div class="design">
          <img src="images/ds.jpg">
        </div>


        <div class="chaman">
          <h1>Welcome To Placement And Training Department</h1>
          <p>morem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>


      </div>
      <div class="clearFix"></div>
      <div class="other">
        <div class="box small">
          <img src="images/google1.jpeg">
          <h1>Google : An Aplphabet Inc Company</h1>
          <p>
            morem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>


        <div class="box big">
          <img src="images/microsof.jpg">
          <h1>Microsoft: A Software Company</h1>
          <p>
            morem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>  

        <div class="box medium">
          <img src="images/logo.png">
          <h1>We Welcome All Kind Of IT company</h1>
          <p>
            morem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
      </div>
{{>footer}}

