{{>header}}
<div class="wrapper">
<div class="register_wrapper">

  <div class="loginbox">
  	<h1>Login Here</h1>
    	<form method="post" action="/login">
			<p>Username</p>
			<input type="text" name="username" placeholder="Enter Username">
			<p>Password</p>
			<input type="password" name="password" placeholder="Enter Password">
			<input type="submit" name="" value="login">
		</form>
</div>
</div>
{{>footer}}

		