{{>header}}
	<div class="wrapper">
<div class="register_wrapper">

  <div class="loginbox">
    	<form method="post" action="/teacherregistration">		
	      <h1> Register</h1>
	      <code>{{title}}</code>
	      <input type="text" name="username" placeholder="Username">
	      <input type="text" name="email" placeholder="Email">
	      <input type="password" name="password" placeholder="Password">
	      <input type="password" name="passwordMatch" placeholder="Confirm Password">
	      <input type="submit" value="Register">
    </form>
</div>
</div>
{{>footer}}






























