<html>
<head>
  <title>Placement & Training </title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<header>
  <div class="site-title">
    <h1>Placement & Training <small></small>Management</h1>
  </div>

  <nav class="menu site-menu">
        <ul>
           <li><a href="/home">logout</a></li>
          
           <li><a href="/student">add student</a>
           </li>
           <li><a href="/teacher">add teacher</a></li>
           <li><a href="/company">add company</a></li>


           </li>
        </ul>
    </nav>
</header>

<div class="wrapper">
<div class="register_wrapper">

  <div class="loginbox">
      <form method="post" action="/admin/add">   
        <h1> New teacher</h1>
        <input type="hidden" name="is_teacher" value="1">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="passwordMatch" placeholder="Confirm Password">
        <input type="submit" value="Register">
       </form>
    </div>
</div>
</div>
{{>footer}}
